<div class="section">
    <div class="title">More Original Content</div>
    <div class="social-media">
        <img src="../../../assets/social-media/wechat.png" width="70px" data-toggle="modal" data-target="#exampleModal">
        <img src="../../../assets/social-media/youtube.png" width="100px">
        <img src="../../../assets/social-media/bilibili.png" width="70px">
    </div>

    <div class="contact">
        <div>
            <div><i class="fas fa-envelope-open-text"></i> Email Us: abcdefg@gmail.com</div>
            <div><i class="fas fa-phone-volume" style="width: 1.5rem;"></i> Call Us: 123456789</div>
        </div>
    </div>

    <div class="subscription-container">
        <div class="newsletter-title" style="font-family: 'Raleway', sans-serif">Subscribe to Ms. Chen's Newsletter</div>
        <app-subscription-edit *ngIf="showSubscription" [options]="{disableCancel: true}" [embeddedView]="true" (done)="subscriptionDone($event)"></app-subscription-edit>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="modal-title">公众号</div>
                    <div class="d-flex justify-content-center">
                        <img src="../../../assets/wechat/wechatPublic.JPG">
                    </div>
                </div>
                <div>
                    <div class="modal-title">个人号</div>
                    <div class="d-flex justify-content-center">
                        <img src="../../../assets/wechat/wechatPersonal.png">
                    </div>
                </div>
                <div>
                    <div class="modal-title">视频号</div>
                    <div class="d-flex justify-content-center">
                        <img src="../../../assets/wechat/wechatVideo.png">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>