<div class="header fixed-top" [ngStyle]="setMyStyles()">
    <nav class="navbar navbar-light navbar-expand-lg">
        <a class="navbar-brand" routerLink="/">
            <img src="assets/logo.png" align="left" class="logo">
            <div class="logo-text mt-2">AskMsChen</div>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarItems" aria-controls="navbarItems" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>

        <div class="collapse navbar-collapse ml-auto mr-auto" id="navbarItems">
            <ul class="navbar-nav" data-toggle="collapse" data-target=".navbar-collapse.show">
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'active': currentUrl === '' || currentUrl === '/' }" routerLink="/">Home</a>
                </li>
                <!--Drop Down-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Services
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">US Homestay</a>
                        <a class="dropdown-item" href="#">Education Planning</a>
                        <a class="dropdown-item" href="#">Travel and Camps</a>
                        <a class="dropdown-item" href="#">School Application and Transfer</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/contact">Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                        [ngClass]="{'active': currentUrl === '/blog' || currentUrl.startsWith('/publicinfo/blog') }"
                        routerLink="/blog"
                    >
                        Blog
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        [ngClass]="{'active': currentUrl.startsWith('/resources') }"
                    >
                      Resources
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" routerLink="/resources/pubresources">Free Resources</a>
                        <a class="dropdown-item" routerLink="/resources/memresources">Member Only Resources</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/contact">Contact</a>
                </li>
            </ul>
        </div>

    </nav>

    <div class="auth-icon">
        <lib-auth-icon></lib-auth-icon>
    </div>
</div>

<div class="content" [ngStyle]="fullTop && {'padding-top': '100px'}">
    <div>
        <router-outlet></router-outlet>
    </div>
    <div class="content-min-height"></div>
</div>

<nav class="footer footer-font navbar navbar-light">
    <div class="mx-auto mb-2 pt-2">
        <div>© {{yyyy}} {{orgName}}, Inc. All rights reserved.</div>
        <div class="contact-info">
            <div class="ml-3 mr-5">
                <i class="fas fa-phone"></i> (tel-number)
            </div>
            <div>
                <i class="fa fa-map-marker" aria-hidden="true"></i> (address)
            </div>
        </div>
    </div>
</nav>