<div class="galleryView">
  <div class="grid-block" [ngClass]="{'grid-block-large': options['largePicture']}" *ngFor="let detail of list;  let i = index; let list_index = index;">
    <div class="text-left h-100" [ngClass]="{
				'clicked-row': clickedId==detail['_id'],
				'selected-row': clickItemAction === 'select' && checkedItem[i]
			}">
      <div class="grid-fields">
        <div class="grid-head-picture" [ngClass]="{'grid-head-picture-large': options['largePicture'], 'clickable-card pointer': clickItemAction}" [ngStyle]="style['picture']" (click)="clickOneItem(i)">
          <lib-mdds-file-display [downloadUrl]="detail['signaturePicture']" [isLarge]="options['largePicture']">
          </lib-mdds-file-display>
        </div>
        <div class="text-center">
          <div *ngIf="!options['notShowTitle']" class="grid-picture-title" [ngClass]="{'grid-picture-title-large': options['largePicture'], 'read-more link-primary': clickItemAction === 'detail'}" [ngStyle]="style['title']" (click)="clickOneItem(i)">
            {{detail['title']}}
          </div>
          <div *ngIf="!options['notShowSubTitle']" class="grid-picture-subtitle" [ngClass]="{'grid-picture-subtitle-large': options['largePicture'], 'read-more link-primary': clickItemAction === 'detail'}" [ngStyle]="style['subtitle']" (click)="clickOneItem(i)">
            {{detail['publishDate']? (detail['publishDate']['originalValue'] | date:'medium') : ''}}
          </div>
          <div *ngIf="fieldHasValue(detail['topicTags'])" class="mx-1 d-flex flex-wrap" [ngStyle]="style['topicTags']">
            <div class="field-label bottome-field-label mr-1" [ngStyle]="style['topicTags-label']"> Topic Tags: </div>
            <div class="text-left" [ngStyle]="style['topicTags-value']">
              <div *ngIf="detail['topicTags'] && detail['topicTags']['selection']">
                <ng-template ngFor let-element [ngForOf]="detail['topicTags']['selection']" let-idx="index">
                  <div class="badge badge-pill badge-secondary">
                    {{element}}
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-action-links ml-3">
      <div *ngIf="cardHasSelect">
        <span class="read-more color-success font-size-75 mt-3" (click)="selectItemSelected(i)">Select <i class="far fa-hand-pointer"></i></span>
      </div>
    </div>
  </div>
  <i aria-hidden="true" class="grid-block" [ngClass]="{'grid-block-large': options['largePicture']}"></i>
  <i aria-hidden="true" class="grid-block" [ngClass]="{'grid-block-large': options['largePicture']}"></i>
  <i aria-hidden="true" class="grid-block" [ngClass]="{'grid-block-large': options['largePicture']}"></i>
  <i aria-hidden="true" class="grid-block" [ngClass]="{'grid-block-large': options['largePicture']}"></i>
  <i aria-hidden="true" class="grid-block" [ngClass]="{'grid-block-large': options['largePicture']}"></i>
</div>