<div class="header-container">
    <div class="header-image">
        <div class="header-text">
            <div class="header-title">Ms. Chen Blog</div>
            <div class="header-subtitle">View the latest college admission posts from Ms. Chen</div>
        </div>
    </div>
</div>

<div class="flex-container">
    <div class="verticle-section">
        <div class="section">
            <div class="title">
                Most Popular Posts
            </div>
            <app-blog-list-general
            [options]="{
                listViewFilter: 'gallery-bottom-title', includeSubDetail: false,
                disableCatetory: true, disablePagination: true,
                disbleActionButtons: true, disableListSearch: true, disableTitle: true, disableRefs: true,
                disableListHead: true, disableTitleRow: true}"
            [style]="{
                title: {'font-size': '1.2rem', 'color': '#4a4a4a', 'line-height': '85%', 
                    'font-family': 'Georgia', 'text-align': 'left', 'margin': '5px 0 5px 0'},
                subtitle: {'font-size': '0.75rem', 'font-family': 'Georgia', 
                    'text-align': 'left'},
                'topicTags-label': {'display': 'none'},
                'topicTags-value': {'display': 'none'}
                }"
            [queryParams]="{perPage: 5, listSortOrder: 'desc', listSortField: 'publishDate'}"
            [searchObj]="{'hot': true}">
            </app-blog-list-general>
            <div style="text-align: center; font-family: Georgia; font-size: 25px;"><a routerLink="/publicinfo/blog/list">View All Blogs</a></div>
        </div>

        <hr>

        <div class="section">
            <div class="title">
                College Admission Information Blog
            </div>
            <app-blog-list-general
            [options]="{
                listViewFilter: 'gallery-bottom-title', includeSubDetail: false,
                disableCatetory: true, disablePagination: true,
                disbleActionButtons: true, disableListSearch: true, disableTitle: true, disableRefs: true,
                disableListHead: true, disableTitleRow: true}"
            [style]="{
                title: {'font-size': '1.2rem', 'color': '#4a4a4a', 'line-height': '85%', 
                    'font-family': 'Georgia', 'text-align': 'left', 'margin': '5px 0 5px 0'},
                subtitle: {'font-size': '0.75rem', 'font-family': 'Georgia', 
                    'text-align': 'left'},
                'topicTags-label': {'display': 'none'},
                'topicTags-value': {'display': 'none'}
                }"
            [queryParams]="{perPage: 5, listSortOrder: 'desc', listSortField: 'publishDate'}"
            [searchObj]="{'topicTags': {$in: ['admission']}}">
            </app-blog-list-general>
        </div>

        <div class="section">
            <div class="title">
                College Essay Blog
            </div>
            <app-blog-list-general [options]="{
                listViewFilter: 'gallery-bottom-title', includeSubDetail: false,
                disableCatetory: true, disablePagination: true,
                disbleActionButtons: true, disableListSearch: true, disableTitle: true, disableRefs: true,
                disableListHead: true, disableTitleRow: true}"
            [style]="{
                title: {'font-size': '1.2rem', 'color': '#4a4a4a', 'line-height': '85%', 
                    'font-family': 'Georgia', 'text-align': 'left', 'margin': '5px 0 5px 0'},
                subtitle: {'font-size': '0.75rem', 'font-family': 'Georgia', 
                    'text-align': 'left'},
                'topicTags-label': {'display': 'none'},
                'topicTags-value': {'display': 'none'}
                }"
            [queryParams]="{perPage: 5, listSortOrder: 'desc', listSortField: 'publishDate'}"
            [searchObj]="{'topicTags': {$in: ['essay']}}">
            </app-blog-list-general>
        </div>
    </div>

    <div class="verticle-section" id="recent-post">
        <div class="title">
            Recent Posts
        </div>
        <app-blog-list-general
        [options]="{
            listViewFilter: 'list', includeSubDetail: false,
            disableCatetory: true, disablePagination: true,
            disbleActionButtons: true, disableListSearch: true, disableTitle: true, disableRefs: true,
            disableListHead: true, disableTitleRow: true}"
        [queryParams]="{perPage: 8, listSortOrder: 'desc', listSortField: 'publishDate'}">
        </app-blog-list-general>
    </div>
</div>