<div *ngIf="detail">
  <div class="card text-left">
    <div class="card-body">
      <div class="card-text">
        <div class="card-header grid-head">
          <div class="grid-head-picture">
            <lib-mdds-file-display [downloadUrl]="detail['photo']" [isLarge]="false" [aspectRatio]=""></lib-mdds-file-display>
          </div>
          <div class="ml-1">
            <h5>
            </h5>
          </div>
        </div>
        <div class="card-body">
        </div>
      </div>
    </div>
  </div>
</div>