<div class="container">
    <div class="header-title">
        Education Planning and Tutoring
    </div>
    <div class="introduction" [ngClass]="{'show': ifshow}">
        <p>After years of teaching and consulting work, we realize that help an international student come to the United States is just the first step of the Ten Thousand Miles March. An incomplete data indicate that about 40 percent of the young Chinese
            students, cannot keep up with the class, have problems in finishing their school work, fail to pass examinations or even be forced to leave their schools.
        </p>
        <p>
            Young children like these need the most dedicate guidance, help and encouragement. Most of our consultants or teachers have been engaged in teaching for many years. We have a lot of experience working with international students. We will use our knowledge
            and life experience to help the students to overcome the difficulties and adjust their lives to the United States. Remember: We are here for your SUCCESS!
        </p>
        <p>
            Here are the services we can provide, students can order any of them according to their specific needs:
        </p>
    </div>
    <div (click)="ifshow = true" class="show-more-button" [ngClass]="{'not-show-button': ifshow}">
        <span class="show-more-button-text">
            click to read more...
        </span>
    </div>
    <div class="contact-button-container d-flex justify-content-center">
        <div class="contact-button d-flex align-items-center justify-content-center">
            <span>Contact Us to Learn More!</span>
        </div>
    </div>
    <div class="table">
        <table>
            <tr class="odd" class="table-headers">
                <th style="background-color: #003130;">Item ID</th>
                <th style="background-color: #05536E;">Services</th>
            </tr>
            <tr class="even">
                <td>2001. Education Planning & Supervision
                </td>
                <td>
                    Our Certified College Counselor and Education Expert will make personalized education planning for every student according to their goals, interests and specialties:
                    <ul>
                        <li>
                            Supervise students’ academic achievement
                        </li>
                        <li>
                            Students’ learning progress and difficulties
                        </li>
                        <li>
                            Tutoring project planning
                        </li>
                        <li>
                            Project Planning and Application for Summer
                        </li>
                        <li>
                            Detailed performance evaluation twice each semester, one of which may include parents in China
                        </li>
                        <li>
                            Visiting the students once a month, providing encouragement, guidance and advice
                        </li>
                    </ul>
                </td>
            </tr>
            <tr class="odd">
                <td>2002. Single Subject Tutoring
                </td>
                <td>
                    We have many qualified tutors can teach all subjects at every level. Cooperating with SanRenEDU.com, we can provide tutoring to you online or onsite whenever or wherever you would like.
                </td>
            </tr>
            <tr class="even">
                <td>2003. Exam Guidance
                </td>
                <td>
                    We have professional SAT, ACT, TOEFL, GMAT, GRE training experts. Sign up with us, get some extra academic or mental help to improve your test score at the last minutes. It’s never too late!
                </td>
            </tr>
            <tr class="odd">
                <td>2004. Thesis Help
                </td>
                <td>
                    We are willing to provide students with the most direct and specific guidance for their papers, from how to gathering information, to polish the text changes, we will hold their hands, teach them the American way of drafting their own papers, so that
                    students can gradually adapt to, and eventually will be able to complete the work by themselves.
                </td>
            </tr>
            <tr class="even">
                <td>2005. Resume & Interview
                </td>
                <td>
                    Our Professional career coaches have years of experiences, work with many major companies in the Bay Area and have lots of contacts. We will help the students edit their Resume, do mock interviews, introduce different types of internship information,
                    lead them to the door of opportunity!
                </td>
            </tr>
        </table>
    </div>
    <div class="contact-button-container d-flex justify-content-center">
        <div class="contact-button d-flex align-items-center justify-content-center">
            <span>Contact Us to Get a Quote!</span>
        </div>
    </div>
</div>